<% layout('layouts/boilerplate') -%>
<div class="row">
    <div class="col-6 offset-3 ">
        <p class="h1 text-white-50 bg-dark d-flex justify-content: text-center">Welcome to Campground</p>
        <img class="img-fluid max-width:100% " height="auto" src="https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FtcGdyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">
    </div>

</div>